
*{
margin: 0;
    background-color: #fff3f3;
     font-family: 'Helvetica', 'Arial', sans-serif;
}
header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    background-color: #f161ae;
    color: #240c09;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 10px;
    vertical-align: center;
}

.container {
    background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: left;
}

img {
    background-color: transparent;
}

.overlay-img{
     position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;

}

.image-container {
      position: relative;
    width: 100%;

    }

nav{

}

headerlinks {
    position: fixed;
    z-index: 1;
    top: 30px;
    right: 0;
    text-align: right;
    background-color: transparent;
}

h2 {
    background-color: transparent;
    color: #fff3f3;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

h3 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: transparent;
    color: #fff3f3;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.h3{
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: transparent;
    color: #240c09;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 30px;
}

h4 {
    background-color: transparent;
    color: #240c09;
    font-size: 24px;
}

button {
    color: #fff3f3;
    background-color: #f161ae;
    font-size: 19px;
    border: 1px solid #f161ae;
    padding: 15px 50px;
    cursor: pointer
}

button:hover {
    color: #fff3f3;
    background-color: #EC88B4;
    border: 1px solid #EC88B4;
}

button2 {
    color: #fff3f3;
    background-color: transparent;
    font-size: 15px;
    padding: 15px 50px;
    cursor: pointer;
    vertical-align: bottom;
}

button2:hover {
    text-decoration: underline;
    text-underline: #fff3f3;
    font-weight: bold;
}

pre {
    font-family: 'Arial', sans-serif;
}

.box{
    width: 600vw;
  height: 250px;
  padding: 10px;
  border: 1px solid #000000;
  margin: 0;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}



