<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}


    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    
</head>
<body>
<header type = "header" name = "h1">

    <div class = "container">

    <a href="/" style="background: transparent"><img src = "{%  static  'images/blanket_pattern.png' %}" alt = "Multicolored Granny square" width = 90px></a>
    <a href="/" style="background: transparent; text-decoration: none" ><h2> Cilvi </h2></a>


</div>
    <nav>
    <headerlinks type = "p">

    <button2 type="button"> About</button2>
     <button2 type="button" onclick = "window.location.href = '/'"> Home </button2>

    </headerlinks>
    </nav>

</header>
<div class = image-container>
<img src = "{%  static  'images/backdrop_about.png' %}" alt = "backgroundabt" height = 100% width = 100%>
    </div>
<div style="text-align: center;" class="centered">
    <h3 style="color: black">About</h3>
    <p style = "font-size: 24px; line-height: 200%; width: 100%; margin-top: 3em; background: #fff3f3"> Cilvi, or Creative Instructions for Limited VIsion, is a website created to format instructions
    for creative projects, specifically crochet and knitting. <br> 
    Crafters who have trouble reading traditional fiber art patterns (limited vision, reading disabilities) can use the application for patterns to make for an accessible pattern reading experience.
    <br>
    Pattern designers can also utilize the application, uploading pre-existing patterns or using our simple interface to make creating an alternate accessible pattern that much easier! </p>
    </div>
<main>
    
</main>

</body>
</html>