<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}


    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    
</head>
<body>
<header type = "header" name = "h1">

    <div class = "container">

    <img src = "{%  static  'images/blanket_pattern.png' %}" alt = "blanket pattern" width = 90px>
    <h2> Cilvi </h2>

</div>
    <nav>
    <headerlinks type = "p">

    <button2 type="button"> About</button2>
     <button2 type="button" onclick = "window.location.href = '/'"> Home </button2>

    </headerlinks>
    </nav>

</header>
<div class = image-container>
<img src = "{%  static  'images/backdrop_about.png' %}" alt = "backgroundabt" height = 100% width = 100%>
<img src = "{%  static  'images/about_page.png' %}" alt = "overlay" height = 100% width = 100% class = overlay-img>
    </div>
<div style="text-align: center;">
    <h3 class = h3> About </h3>
    <p class = h3 style = "font-size: 24px; line-height: 110%"> <br><br><br><br> Cilvi (Creative Instructions for Limited VIsion) is a website created to provide instructions
    for creative projects such as crochet and knitting.  </p>
    </div>
<main>
    
</main>

</body>
</html>