<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF and Text Pattern Reader</title>
    
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">




    <style>
        textarea::placeholder{
            font-size: 24px;
        }
        textarea{
            font-size: 24px;
        }

    </style>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=zvfE8Dm2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js">
    </script>
    </script>


</head>
<body>



<header type = "header" name = "h1">

    <img src = "{%  static  'images/blanket_pattern.png' %}" alt = "blanket pattern" width = 90px>
    <h2> Cilvi </h2>

     <headerlinks type = "p">

    <button2 type="button" onclick = "window.location.href = '/about'"> About </button2>
    <button2 type="button" onclick = "window.location.href = '/'"> Home </button2>

    </headerlinks>

</header>


<main style="padding:25px; padding-top: 180px" >
    
        <h1 style="text-align: center">Pattern Formatter</h1>

<flex-container style="padding-top: 25px">
    

     <form action="/application" id="fileForm" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <label for="file" style="font-size:24px">Choose a file:</label>
        <input type="file" id="file" name="file" required accept=".txt" style="font-size: 16px">
         <br>
        <button type="submit", style="width:25vw">Upload</button>
    </form>
    </flex-container>

    <br>
    <h1 style="text-align: center">OR</h1>
    <br>

    <flex-container>
    <form id="textForm" name="textForm" >
        <label for="patternText" style="font-size:24px" > Copy and paste the pattern here:</label>
        <br>
        <textarea type="text" id="patternText" name="patternText" rows="10" cols="40" title="Form for text input of pattern" placeholder="place pattern here" required style="width: 93vw"></textarea>
        <br>
        <input type="checkbox" id="abbrevToggler">
        <label for="abbrevToggler">Abbreviations (Recommended to be off)</label>
        <br>
        <button type="submit" aria-label="submit the text to the program"> Generate</button>
    </form>
    </flex-container>

        <flex-container style="padding-top: 20px">
  <div class="box">
        <section id="resultLocation" class="container" aria-label="Generated result" >

          
                
                
    <pre id="result" style="white-space: pre-wrap; word-break: break-word; font-size:24px"> </pre>


            </section>
            </div>
        </flex-container>
    <flex-container>
            <button type="button" value="Play Audio" style="background-color: black; align-items: center" id="playAudio" >Play Audio</button>
    </flex-container>


            <flex-container style="padding-top: 10px">
                <a id="textSave" href="javascript:void(0);">Save to .TXT </a>
                &nbsp&nbsp&nbsp;
                <a id="pdfSave" href="javascript:void(0)">Save to .PDF </a>
            </flex-container>



        

    <script type="module">
        let dictionary = crochetDictionary
        
         document.getElementById("textForm").addEventListener("submit", function(event) {
             event.preventDefault()
             const textarea = document.getElementById("patternText");
                let output = textarea.value
             mainApp(output) //call main function
         })
        
        //for text input.
        function mainApp(output){
       
                
                let genRes
                if(document.getElementById("abbrevToggler").checked){
                    genRes = output
                    onSubmit(genRes)
                    
                }
                else {
                    genRes = changeAndDisplay(output, dictionary)
                    onSubmit(genRes)
                    
                }

            }

        function onSubmit(text){
            console.log(text)
            document.getElementById("result").innerHTML = text;
            
            tts(text)
            saveTXT(text)
            savePDF(text)

        }
        
        function isLetter(char) {
            return /^[a-zA-Z]$/.test(char);
            }
            
            function isNumber(char) {
            return /^[0-9]$/.test(char);
                }
        
        
        function changeAndDisplay(input, dictionary) {
            var newInput = input.replace(/\n/g, " \n")
            console.log(newInput)
            let arrayNWS = newInput.split(" ")
            for (let i=0; i<arrayNWS.length; i++){
                let current = arrayNWS[i];
               
                
                let result = "";
                for (let i = 0; i < current.length - 1; i++) {
                    let curChar = current[i];
                    let nextChar = current[i + 1];
                    result += curChar;
                    if (
                        (isLetter(curChar) && isNumber(nextChar)) ||
                        (isNumber(curChar) && isLetter(nextChar))
                    ) {
                        result += " ";
                    }
                }
                result += current[current.length - 1];
                arrayNWS[i] = result;
               
                    
                    
                    
            }
            
            input = arrayNWS.join(" ")
            for (const key in dictionary) { //for each abbreviation, check and replace
                let regex = new RegExp( "\\b" + key + "\\b", 'gi')
                input = input.replace(regex, dictionary[key])
            }
            
            
            console.log(arrayNWS)
            
            
            
            
            return input
        }


        function tts(text){
            const playButton =  document.getElementById("playAudio");

            playButton.onclick = function(){
                if(responsiveVoice.isPlaying()){
                    responsiveVoice.cancel()
                }
                else{

                responsiveVoice.speak(text)}
            }

        }

        function saveTXT(text) {
            const date = new Date();
            var fileName = "My Pattern" + date.getMonth() + "_" + date.getDate();
            var fileContent = text;
            var myFile = new Blob([fileContent], {type: 'text/plain'});
            
            const objURL = window.URL.createObjectURL(myFile)
            const link = document.getElementById("textSave")
            link.setAttribute('href', objURL)

            link.setAttribute('download', fileName)
            
        }
        
        
        function savePDF(text){
            pdfMake.fonts ={
                Roboto: {
            normal: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Regular.ttf',
            bold: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Medium.ttf',
            italics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Italic.ttf',
            bolditalics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-MediumItalic.ttf'
                }
            }
            let pdfButton = document.getElementById("pdfSave")
            pdfButton.addEventListener("click", function(event){
                event.preventDefault()
                const doc = {
                    content:[
                        {text: text}
                    ],
                    defaultStyle:
                        {fontSize: 24}
                    
                }
                pdfMake.createPdf(doc).download('text.pdf')
            })
            
            
        }
        
        
         document.getElementById("fileForm").addEventListener("submit", function(event) {
    event.preventDefault(); // prevents page reload
    const fileInput = document.getElementById("file");
    const file = fileInput.files[0];

    if (file) {
        const reader = new FileReader();
        reader.onload = function () {
            let text = reader.result
            mainApp(text)
        }
        reader.readAsText(file);
    }
    });
        
    </script>
        
        
       
    
    
    



        </div>
</main>

</body>








<script>
    crochetDictionary = 
        {
"alt" : "alternate",
"approx": "approximately",
  "beg": "begin",
"bet":	"between",
"BL": "back loop or back loop only",
  "BLO":"back loop or back loop only",
"bo":"bobble",
"BP":"back post",
"BPdc":	"back post double crochet",
"BPdtr":"back post double treble crochet",
"BPhdc":	"back post half double crochet",
"BPsc":	"back post single crochet",
"BPtr":	"back post treble crochet",
"CC":	"contrasting color",
"ch":	"chain stitch",
"ch-":	"chain number",
"ch-sp":	"chain space",
"CL":	"cluster",
"cont":	"continue",
"dc":	"double crochet",
"dc2tog":	"double crochet 2 stitches together",
"dec":	"decrease",
"dtr":	"double treble crochet",
"edc":	"extended double crochet",
"ehdc":	"extended half double crochet",
"esc":	"extended single crochet",
"etr":	"extended treble crochet",
  "FL": "front loop",
  "FLO": "front loop only",
  "foll": "following",
  "FP": "front post",
  "FPdc": "front post double crochet",
  "FPdtr": "front post double treble crochet",
  "FPhdc": "front post half double crochet",
  "FPsc": "front post single crochet",
  "FPtr": "front post treble crochet",
  "hdc": "half double crochet",
  "hdc2tog": "half double crochet 2 stitches together", 
            "hdc3tog": "half double crochet 3 stitches together",
            "hdc4tog": "half double crochet 4 stitches together",

  "inc": "increase",
            "incr": "increase",
  "lp": "loop",
  "m": "marker",
  "MC": "main color",
"pat":	"pattern",
  "patt": "pattern",
  "pc": "popcorn stitch",
  "pm": "place marker",
  "prev": "previous",
"ps":"puff stitch",
  "puff": "puff stitch",
"rem":	"remaining",
  "rep": "repeat",
"rnd":	"round",
"RS":	"right side",
  "rs": "right side",
  "sc": "single crochet",
  "sc2tog": "single crochet 2 stitches together",
            "sc3tog": "single crochet 3 stitches together",
            "sc4tog": "single crochet 4 stitches together",
            "sc5tog": "single crochet 5 stitches together",
            "sc6tog": "single crochet 6 stitches together",
"sh":	"shell",
  "sk": "skip",
"sl st":	"slip stitch", 
            "slst": "slip stitch",
  "sm": "slip marker",
  "sl m": "slip marker",
"sp": "space",
"st":"stitch",
            "sts": "stitches",
            "st(s)": "stitch or stitches",
  "tbl":
  "through back loop",
  "tch": "turning chain",
  "t-ch": "turning chain",
"tog":	"together",
"tr":	"treble crochet",
"tr2tog":	"treble crochet 2 stitches together",
"trtr":	"triple treble crochet",
"WS":	"wrong side",
"yo":	"yarn over",
"yoh":	"yarn over hook",
    };
    
    
    
    
    
    let knitDictionary = {
        "alt":	"alternate",
"approx":	"approximately",
"beg":	"beginning",
"bet":	"between",
"BO":	"bind off",
"byo":	"backward yarn over",
"CC":	"contrasting color", 
        "cn":	"cable needle",
"CO":	"cast on",
"cont":	"continue",
"dec":	"decrease",
"dpn":	"double-pointed needles",
"foll":	"follow",
"inc":	"increase",
"k":	"knit",
 "kn": "knit",       
"k1B":	"knit stitch in row below",
        "kn1B": "knit stitch in row below",
"kfb":	"knit front and back",
   "ksp":     "knit, slip, pass",
"k2tog":	"knit 2 stitches together",
"kwise":	"knitwise",
        "knwise": "knitwise",
"LH":	"left hand",
"lp":	"loop",
"m":	"marker",
"M1": 	"make one stitch knitwise",
        "M1K": "make one stitch knitwise",
"M1R":	"make one right",
"M1L":	"make one left",
"M1p":	"make one purlwise",
"M1rp":	"make one right purlwise",
"M1lp":	"make one left purlwise",
"MC":	"main color",
"p":	"purl",
"pat":	"pattern",
        "patt": "pattern",
"pfb": "purl front and back",	
"pm":	"place marker",
"p2tog":	"purl 2 stitches together", 
"prev":	"previous",
"psso":	"pass slipped stitch over",
"p2sso":	"pass 2 slipped stitches over",
"pwise":	"purlwise",
"rem":	"remaining",
"rep":	"repeat",
"rev St st":	"reverse stockinette stitch",
"RH":	"right hand",
"rnd":	"round",
"RS":	"right side",
"SKP": "slip one stitch, knit one stitch, then pass slipped stitches over",
 "SK2P": "slip one stitch, knit two together, then pass slipped stitches over",       
"sl":	"slip",
"sl1k":	"slip 1 knitwise",
"sl1p":	"slip 1 purlwise",
"sl st":	"slip stitch",
"sm":	"slip marker",
"ssk":	"slip 2 stitches knitwise",
"ssp":	"slip, slip, purl",
"sssk":	"slip 3 stitches and knit all three together",
"sssp": "slip 3, purl slip stitches together",
"S2KP2":	"slip 2 stitches as if to knit 2 together, knit 1, pass 2 slipped stitches over knit stitch",
"SSPP2":	"slip, slip, purl, pass 2",
"st":	"stitch",
"St st":	"stockinette stitch",
"tbl":	"through back loop",
"tfl":	"through front loop",
"tog":	"together",
"WS":	"wrong side",
"w&t":	"wrap and turn",
"wyib":	"with yarn in back",
"wyif":	"with yarn in front",
"yb":	"yarn back",
"yfwd":	"yarn forward",
        "yf": "yarn forward",
"yo":	"yarn over",
"yon":	"yarn over needle",
"yrn":	"yarn round needle",
    }
    
    
    
    
</script>
</html>