<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
    <style>
        textarea::placeholder{
            font-size: 24px;
        }
        textarea{
            font-size: 24px;
        }
        
    </style>


</head>
<body>


<section>

     <form action="/application" id="fileForm" method="post" enctype="multipart/form-data">
         {% csrf_token %}
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="file" required accept="pdf, txt">
        <br><br>
        <button type="submit">Upload</button>
    </form>

    <label> OR copy and paste the pattern here: </label>
    <form>
        <textarea type="text" id="textResult2" name="textResult" rows="10" cols="50" title="Form for text input of pattern" placeholder="place pattern here" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    
    <p id="resultLocation"> This is where the results go</p>
    
    
    <script>
        //for text input.
        var x = document.getElementById("textResult")
        document.getElementById("resultLocation").innerText = x
        
    </script>
    
    

    <script>
    document.getElementById('fileForm').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
      console.log('File content:', e.target.result); 
    };
  }
});
    </script>


</section>

</body>
</html>