<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header type = "header" name = "h1">

    <div class = "container">

    <img src = "{%  static  'images/blanket_pattern.png' %}" alt = "blanket pattern" width = 90px>
    <h2> Cilvi </h2>

</div>
    <nav>
    <headerlinks type = "p">

    <button2 type="button" onclick = "window.location.href = '/about'"> About</button2>
    <button2 type="button" > Home </button2>
        <button2 type="button" onclick = "window.location.href = '/configurations'"> Settings</button2>

    </headerlinks>
    </nav>

</header>

<div class = image-container>

<img src = "{%  static  '/images/new_backdrop_index.png' %}" alt = "background-index" height = 100% width = 100% style="margin-top: 4em;">
 <img src="{%  static  'images/icon_gif.gif' %}" alt = "file-icon" width = 90px class = overlay-img-index>

</div>

    <div style="text-align: center;">
    <h3> Construct pattern instructions using Cilvi! </h3>
        <h3 style = "font-size: 23px; top: 55%"> To learn more, visit our about page </h3>
    </div>

<section style="text-align: center; margin-top: 9em;">



    <h4>Share pattern instructions:</h4>
    <br><br>
    <button type = "button" name="b1" onclick="window.location.href='/application'">PDF file or Text file</button>


</section>

</body>
</html>