<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<title>HTML Button Generator</title>
<style>
    button {
        color: #ffffff;
        background-color: #D76EBF;
        font-size: 19px;
        border: 1px solid #1d2c49;
        padding: 15px 50px;
        cursor: pointer
    }
    button:hover {
        color: #2d63c8;
        background-color: #EC88B4;
    }
</style>
<body>
<section>
    <div style="text-align: center;">
    <h1> Homepage </h1>
    </div>
</section>
<section>
    <h1>How will you be sharing the pattern?</h1>

    <button type = "butt1" name="b1">PDF file or Text file</button>
    <button type = "butt1" name="b1">Website Link</button>

</section>

</body>
</html>