<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel = "stylesheet" href = "stylesheet.css">
</head>
<body>

<header type = "header" name = "h1">

    <h2> Accraft </h2>

    <headerlinks type = "p">

    <button2 type="button" onclick = "window.location.href = 'about.html'"> About </button2>
    <button2 type="button" > Home </button2>

    </headerlinks>

</header>



    <div style="text-align: center;">
    <h1> Homepage </h1>
    </div>


<section>
    <h1>How will you be sharing the pattern?</h1>
    <button type = "button" name="b1" onclick="window.location.href='application.html'">PDF file or Text file</button>
    <button type = "button" name="b1">Website Link</button>

</section>

</body>
</html>