
*{
margin: 0;
    background-color: #f8eee5;
}
header {
    width: 100%;
    display: block;
    background-color: #D76EBF;
    color: #240c09;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 30px;
    vertical-align: center;
}

headerlinks {
    text-align: right;
    background-color: transparent;
}

h2 {
    background-color: transparent;
    color: #240c09;
}


button {
    color: #ffffff;
    background-color: #D76EBF;
    font-size: 19px;
    border: 1px solid #D76EBF;
    padding: 15px 50px;
    cursor: pointer
}
button:hover {
    color: #ffffff;
    background-color: #EC88B4;
    border: 1px solid #EC88B4;
}
button2 {
    color: #ffffff;
    background-color: transparent;
    font-size: 10px;
    padding: 15px 50px;
    cursor: pointer;
    vertical-align: bottom;
}
button2:hover {
    text-decoration: underline;
    text-underline: #f8eee5;
}
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #240c09;
    font-size: 14pt;
    background-color: #FAFAFA;
}